body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
   
  background-color: rgb(33, 33, 33);
  height: 100%;
 
  margin: 0 auto;
  padding: 0 auto;
}

h1{
  text-align: center;
  color: aliceblue;
}

p{
  color: aliceblue;
}

.container{
  margin: 0 auto;
  width: 90%;
  height: 90%;
  max-width: 30rem;
  max-height: 40rem;
  display: grid;
  gap: .3rem;
}

.container.grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.container.easy{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.container.medium{
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.container.hard{
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.card {
  width: 8rem; 
  height: 10rem;
  background-color: #ccc;
  border-radius: 5px;
  animation: 2s hideCard linear;
  cursor: pointer; 
}

img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0;
  animation: 2s hideImage linear;
}

.card.active{
  transform: rotateY(0);
}

.card.active img{
  opacity: 1;
}

.unmatched{
  background-color: rgb(240, 28, 28);
  border-radius: 5px;
}

.maincontainer{
  display: flex;
}

.btncontainer {
  display: flex;
  justify-content: space-around;
  width: 12rem;
  height: 3rem;
}

button{
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer; 
}

.selected {
  background-color: goldenrod;
  color: white; 
}

.countcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 12rem;
  height: 8rem;
  gap: 10px;
  margin: 10px 0;
}

.counter {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: lightgray;
}

@keyframes hideCard {
  0%, 70%{
    transform: rotateX(0deg);
  }100%{
    transform: rotateX(180deg);
  }
}

@keyframes hideImage {
  0%, 84%{
    opacity: 1;
  }85%{
    opacity: 0;
  }
}
