body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
   
  background-color: rgb(33, 33, 33);
  height: 100%;
 
  margin: 0 auto;
  padding: 0 auto;
}

h1, p{
  text-align: center;
  color: aliceblue;
  padding-left: 2rem;
}

h1 {
  text-shadow: 2px 2px goldenrod;
}

ul, h2{
  color: aliceblue;
  padding-left: 2rem;
}

li{
  margin-bottom: 1em;
}

.container{
  margin: 0 auto;
  width: 90%;
  height: 90%;
  max-width: 30rem;
  max-height: 40rem;
  display: grid;
  gap: .3rem;
}

.container.grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.container.easy{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.container.medium{
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.container.hard{
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.card {
  width: 8rem; 
  height: 10rem;
  background-color: #ccc;
  border-radius: 5px;
  animation: 2s hideCard linear;
  cursor: pointer; 
}

img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0;
  animation: 2s hideImage linear;
}

.card.active{
  transform: rotateY(0);
}

.card.active img{
  opacity: 1;
}

.unmatched{
  background-image: url("../public/emblem.jpeg");
  background-size: contain;
  /* background-repeat: no-repeat; */
}

.maincontainer{
  display: flex;
}

.linkcontainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 16rem;
}

.btncontainer{
  display: flex;
  justify-content: space-between;
  width: 12rem;
  margin: 1rem 2rem;
}

button{
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer; 
}

.countcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 12rem;
  height: 8rem;
  gap: 1rem;
  margin: 1rem 2rem;
}

.counter {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: lightgray;
}

.link{
  text-decoration: none;
  padding: 8px;
  color: aliceblue;
  background-color: goldenrod;
  border-radius: 0.6rem;
}

.linkMain{
  margin: 0 2rem;
}

.link:hover{
  transform: scale(130%);
}

.baner{
  background-image: url("../public/gotbaner.png");
  /* background-repeat: no-repeat, no-repeat; */
  height: 500px;
}

@keyframes hideCard {
  0%, 70%{
    transform: rotateX(0deg);
  }100%{
    transform: rotateX(180deg);
  }
}

@keyframes hideImage {
  0%, 84%{
    opacity: 1;
  }85%{
    opacity: 0;
  }
}
